@import"./global.scss/_parcials/mixin";
@import"../css/global.scss/_parcials/variable";

//hero images destination//


.hawaii-hero {
    background-image: url(..//assets/Images/hawaii.jpg);
}

.greece-hero {
    background-image: url(../assets/Images/greece.jpg);
}

.iceland-hero {
    background-image: url(../assets/Images/iceland.jpg);
}

.hero-image {
    box-sizing: border-box;

    @include D-hero_settings();

    .hawaii-page,
    .iceland-page,
    .greece-page {

        .title {
            display: inline-block;
            @include page-title();
            color: $sectionColor;

        }

        .itinerary-container {
            display: flex;
            margin: auto;
            justify-content: center;
            width: calc(.90*100%);
            height: calc(.80*100%);

            .friday {
                h3 {
                    @include iteneraryday();
                    border-bottom: 2px solid #000;
                    margin-bottom: 0%;

                }

                ul {
                    @include iteneraryli();

                }
            }

            .saturday {
                h3 {
                    @include iteneraryday();
                    border-bottom: 2px solid #000;
                    margin-bottom: 0%;

                }

                ul {

                    @include iteneraryli();
                }
            }

            .sunday {
                h3 {
                    @include iteneraryday();
                    border-bottom: 2px solid #000;
                    margin-bottom: 0%;

                }

                ul {
                    @include iteneraryli();

                }
            }
        }
    }
}