@import"./global.scss/_parcials/mixin";
@import"./global.scss/_parcials/variable";

.hero__section {
    background-size: contain;
    background-color: #fefaf5;
    padding-bottom: 3rem;
    padding-left: 4rem;
    padding-right: 4rem;


    .hero__image {
        background-image: url(../assets/Images/hero.png);
        @include hero-settings();

        .hero__text {

            position: relative;
            top: 1.7rem;
            left: 4.2rem;         
            width: calc(.25*100%);
            min-height: calc(.15*100%); ;
            color: $colortext;
            display: flex;
            flex-direction: column;
            justify-content: center;

            p {
                @include paragraph-setting()
            }

            .button {
                .get__started {
                    color: $sectionColor;
                    @include btn();
                    font-size: 1rem;
                }
            }
        }
    }
}

//Destinations pages style//
.destinations__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-size: contain;

    .title {
        color: $colortext;
        display: inline-block;
        font-size: 2rem;
        margin-right: auto;
        padding-left: 4rem;
    }

    .cards__container {
        background-size: contain;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        padding-bottom: 8rem;

        &--hawaii {
            background-image: url(../assets/Images/hawaii.jpg);
            background-size: cover;

            h3 {
                @include Txtcard();
            }
        }

        &--iceland {
            background-image: url(../assets/Images/iceland.jpg);
            background-size: cover;

            h3 {
                @include Txtcard();
            }
        }

        &--greece {
            background-image: url(../assets/Images/greece.jpg);
            background-size: cover;

            h3 {
                @include Txtcard();
            }
        }



    }

}

//button//
.get__btn {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

//form//
.form {
   border-top: 1px solid rgba(0, 0, 0, 0.10);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50rem;

    h3 {

        @include info--titles();
    }

    .container {
        display: flex;
        flex-direction: column;

        .container__sub {
           margin: 1rem;
        

            .info--title {
                @include info--titles();
            }

            .subject {
                height: 100px;
                width: 100%;
            }

            .info--subtitles {
               
                @include info--titles();
                font-size: 1.3rem;
            }


        }
    }


}