.hero__section {
  background-size: contain;
  background-color: #fefaf5;
  padding-bottom: 3rem;
  padding-left: 4rem;
  padding-right: 4rem;
}
.hero__section .hero__image {
  background-image: url(../assets/Images/hero.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 20vw;
  background-position: left 90% top 0%;
  box-sizing: content-box;
}
.hero__section .hero__image .hero__text {
  position: relative;
  top: 1.7rem;
  left: 4.2rem;
  width: 25%;
  min-height: 15%;
  color: #335576;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero__section .hero__image .hero__text p {
  font-weight: 100;
  color: #335576;
  font-size: 0.85rem;
}
.hero__section .hero__image .hero__text .button .get__started {
  color: #fefaf5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 7.5rem;
  border-radius: 15px;
  background-color: #db7a4e;
  font-size: 1rem;
}

.destinations__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-size: contain;
}
.destinations__container .title {
  color: #335576;
  display: inline-block;
  font-size: 2rem;
  margin-right: auto;
  padding-left: 4rem;
}
.destinations__container .cards__container {
  background-size: contain;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding-bottom: 8rem;
}
.destinations__container .cards__container--hawaii {
  background-image: url(../assets/Images/hawaii.jpg);
  background-size: cover;
}
.destinations__container .cards__container--hawaii h3 {
  margin-top: auto;
  margin-left: auto;
  margin-right: 1.25rem;
  color: #ffffff;
  font-size: large;
  font-family: "Times New Roman", Times, serif;
}
.destinations__container .cards__container--iceland {
  background-image: url(../assets/Images/iceland.jpg);
  background-size: cover;
}
.destinations__container .cards__container--iceland h3 {
  margin-top: auto;
  margin-left: auto;
  margin-right: 1.25rem;
  color: #ffffff;
  font-size: large;
  font-family: "Times New Roman", Times, serif;
}
.destinations__container .cards__container--greece {
  background-image: url(../assets/Images/greece.jpg);
  background-size: cover;
}
.destinations__container .cards__container--greece h3 {
  margin-top: auto;
  margin-left: auto;
  margin-right: 1.25rem;
  color: #ffffff;
  font-size: large;
  font-family: "Times New Roman", Times, serif;
}

.get__btn {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.form {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50rem;
}
.form h3 {
  color: #335576;
  font-size: 2rem;
}
.form .container {
  display: flex;
  flex-direction: column;
}
.form .container .container__sub {
  margin: 1rem;
}
.form .container .container__sub .info--title {
  color: #335576;
  font-size: 2rem;
}
.form .container .container__sub .subject {
  height: 100px;
  width: 100%;
}
.form .container .container__sub .info--subtitles {
  color: #335576;
  font-size: 2rem;
  font-size: 1.3rem;
}/*# sourceMappingURL=main.css.map */