@import"./global.scss/_parcials/mixin";
@import"./global.scss/_parcials/variable";

.hero__section {
    background-size: contain;
    background-color: #fefaf5;
    padding-bottom: 3rem;
    padding-left: 4rem;
    padding-right: 4rem;

    .hero__image {
        background-image: url(../assets/Images/hero.png);
        @include hero-settings();

        .hero__text {

            position: relative;
            top: 3rem;
            left: 4.2rem;
            width: calc(.25*100%);
            height: calc(.60*100%);
            color: $colortext;
            display: flex;
            flex-direction: column;
            justify-content: center;



            p {
                @include paragraph-setting()
            }

            .button {
                .get__started {
                    color: $sectionColor;
                    @include btn();
                    font-size: 1rem;
                }
            }
        }
    }
}

.destinations__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;



    .title {
        color: $colortext;
        display: inline-block;
        font-size: 2rem;
        margin-right: auto;
        padding-left: 4rem;
    }

    .cards__container {
        background-size: contain;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        padding-bottom: 8rem;

        .hawaii {
            background-image: url(../assets/Images/hawaii.jpg);
            background-size: cover;

            h3 {
                @include Txtcard();
            }
        }

        .card__iceland {
            background-image: url(../assets/Images/iceland.jpg);
            background-size: cover;

            h3 {
                @include Txtcard();
            }
        }

        .card__greece {
            background-image: url(../assets/Images/greece.jpg);
            background-size: cover;

            h3 {
                @include Txtcard();
            }
        }



    }

}

.get__btn {
    display: flex;
    width: 99%;
    justify-content: space-evenly;

    .get__btn--destination {
        @include getstated();
        display: flex;
        flex-direction: column;
    }

}