@import"./_parcials/mixin";
@import"./_parcials/variable";

body {

    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    margin: 0%;
    align-items: center;


    *a {
        @include a-stile();
        color: #000; ;
    }
    
    .global__nav {
        background-color: #ffffff;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 3rem;
        padding-right: 3rem;

        &--logo {
            color: $colortext;

        }

        ul {
            display: flex;
            flex-wrap: wrap;
            margin-left: auto;

            li {
                @include li();
                color: #000;
                a:hover{
                    text-decoration: overline 3px coral;
                    transition: 1s;
                   
                }
                .page__home,
                .page__hawaii,
                .page__greece,
                .page__iceland {
                    border-bottom: 2px solid red;
                }

            }
        }


    }

    .card {
        @include Gcard();
    }

    .footer {
        background-color: $sectionColor;
        display: flex;
        padding-top: 3rem;
        padding-bottom: 3rem;
        justify-content: center;

        .footer__container {
            margin-right: 7.5rem;
            margin-left: 7.5rem;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            width: 100vw;

            .footer__container--contact {
                flex-direction: column;
                line-height: 1.1;

                h3 {
                    @include h3();
                }

                div {
                    h4 {
                        @include h4();

                    }

                    a {
                        @include paragraph-setting;
                    }
                }
            }

            .footer__container--hours {
                h3 {
                    @include h3();
                }

                .hours {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 19rem;

                    div {
                        h4 {
                            @include h4();
                        }

                        p {
                            color: $colortext;
                            @include paragraph-setting();
                        }

                    }

                }
            }

            .social {
                line-height: 1.3;
                display: flex;
                flex-direction: column;

                h3 {
                    @include h3();
                }

                .icons {

                    display: flex;
                    justify-content: space-between;
                    width: 7.5rem;


                    .icon__img {
                        margin-top: 0.93rem;

                        height: 1.8rem;

                    }
                }
            }

        }

    }
}